.row
  .col-md-3
    .fixed-position
      %ul.list-group.mb-4
        %a.list-group-item.list-group-item-action{ :href => "#org-approval" }
          =octicon("organization") + "  Organization Approval"
          - if @unapproved_organizations.count > 0
            %span.badge.badge-danger= @unapproved_organizations.count
          - else
            %span.badge.badge-success 0
        %a.list-group-item.list-group-item-action{ :href => "#camp-approval" }
          =octicon("file") + "  Campaign Approval"
          - if @campaign_changes.count > 0
            %span.badge.badge-danger= @campaign_changes.count
          - else
            %span.badge.badge-success 0
        %a.list-group-item.list-group-item-action{ :href => "#status-updates" }=octicon("megaphone") + "  Status Updates"
        %a.list-group-item.list-group-item-action{ :href => "#org-overview" }=octicon("settings") + "  Organization Overview"
        %a.list-group-item.list-group-item-action{ :href => "#payment-overview" }=octicon("credit-card") + "  Payment Overview"
        %a.list-group-item.list-group-item-action{ :href => "#konosioni" }=octicon("gift") + "  Konosioni Donation"
      %ul.list-group
        %a.list-group-item.list-group-item-action{ :href => rails_admin_path, :target => "_blank" }= octicon("database") + "  Database"


  .col-md-9
    %h1.display-4.mb-4 Admin Dashboard
    %div
      %h4.my-4#org-approval= octicon("organization") + "  Organization Approval"
      %hr
      - if @unapproved_organizations.count > 0
        %table{:class => "table"}
          %thead
            %tr
              %th{:scope=>"col"} Name
              %th{:scope=>"col"}
          %tbody
            - @unapproved_organizations.each do |org|
              %tr
                %td= link_to org.name, organization_path(org.id), :target => "_blank"
                %td
                  =link_to "Approve", admin_organization_approval_path(:organization_id => org.id), :class => "btn btn-primary"
                  =link_to "Feedback", "mailto:#{org.user.email}?body=#{URI(request.url)+organization_path(org.id)}", :class => "btn btn-warning"
      - else
        %p There is no organization pending approval at this time.

      %h4.my-4#camp-approval= octicon("file") + "  Campaign Approval"
      %hr
      - if @campaign_changes.count > 0
        %table{:class => "table"}
          %thead
            %tr
              %th{:scope=>"col"} Name
              %th{:scope=>"col"} Start Date
              %th{:scope=>"col"} Request
              %th{:scope=>"col"}
              %th{:scope=>"col"}
              %th{:scope=>"col"}
          %tbody
            - @campaign_changes.each do |campaign_change|
              %tr
                %td=link_to campaign_change.name, campaign_change_path(campaign_change.id), :target => "_blank"
                %td= (!campaign_change.start_date.nil?)? campaign_change.start_date: "Not Specified"
                %td= campaign_change.action
                %td=link_to "Approve", admin_campaign_approval_path(:campaign_change_id => campaign_change.id), :class => "btn btn-primary"
                %td=link_to "Approve & Activate", admin_campaign_approval_path(:campaign_change_id => campaign_change.id,
                :activate => true), :class => "btn btn-primary"
                %td= link_to "Feedback", "mailto:#{campaign_change.organization.user.email}?body=#{URI(request.url)+campaign_change_path(campaign_change.id)}", :class => "btn btn-warning"

      - else
        %p There is no campaign pending approval at this time.

      %h4.my-4#status-updates= octicon("megaphone") + "  Status Updates"
      %hr
      %p Ex consequat commodo adipisicing exercitation aute excepteur occaecat ullamco duis aliqua id magna ullamco eu. Do aute ipsum ipsum ullamco cillum consectetur ut et aute consectetur labore. Fugiat laborum incididunt tempor eu consequat enim dolore proident. Qui laborum do non excepteur nulla magna eiusmod consectetur in. Aliqua et aliqua officia quis et incididunt voluptate non anim reprehenderit adipisicing dolore ut consequat deserunt mollit dolore. Aliquip nulla enim veniam no
      / FORM FOR STATUS UPDATE **DOESNT WORK YET**

      =form_for @status_update, :url => admin_create_status_path,:method => :post do |f|

        .form-group.row
          =f.label :campaign_id, "Campaign", :class => "col-sm-2 col-form-label"
          .col-sm-10
            -options = []
            -@active_campaigns.each do |campaign|
              -options = options.append([campaign.name, campaign.id])
            =f.select :campaign_id, options_for_select(options), {}, :class => "form-control"

        .form-group.row
          =f.label :date, "Date", :class => "col-sm-2 col-form-label"
          .col-sm-10
            =f.date_field :date, :class => "form-control"

        .form-group.row
          =f.label :text, "Text", :class => "col-sm-2 col-form-label"
          .col-sm-10
            =f.text_area :text, size: "100x3", :placeholder => "Enter your status update here", :class => "form-control"




        =f.submit "Submit", :class => "btn btn-primary"

      %h4.my-4#org-overview= octicon("settings") + "  Organization Overview"
      %hr
      - if @approved_organizations.count > 0
        %table{:class => "table"}
          %thead
            %tr
              %th{:scope=>"col"} Name
              %th{:scope=>"col"} Active Campaigns
              %th{:scope=>"col"} Total Donations
              %th{:scope=>"col"} Total Campaigns
          %tbody
            - @approved_organizations.each do |org|
              %tr
                %td= link_to org.name, organization_path(org.id), :target => "_blank"
                %td= org.campaigns.where("is_active= ?", true).length
                %td= number_to_currency(org.getTotalDonations)
                %td= org.campaigns.length

      %h4.my-4#payment-overview= octicon("credit-card") + "  Payment Overview"
      %hr
      %p Ex consequat commodo adipisicing exercitation aute excepteur occaecat ullamco duis aliqua id magna ullamco eu. Do aute ipsum ipsum ullamco cillum consectetur ut et aute consectetur labore. Fugiat laborum incididunt tempor eu consequat enim dolore proident. Qui laborum do non excepteur nulla magna eiusmod consectetur in. Aliqua et aliqua officia quis et incididunt voluptate non anim reprehenderit adipisicing dolore ut consequat deserunt mollit dolore. Aliquip nulla enim veniam no

      %h4.my-4#konosioni= octicon("gift") + "  Konosioni Donation"
      %hr
      %p Ex consequat commodo adipisicing exercitation aute excepteur occaecat ullamco duis aliqua id magna ullamco eu. Do aute ipsum ipsum ullamco cillum consectetur ut et aute consectetur labore. Fugiat laborum incididunt tempor eu consequat enim dolore proident. Qui laborum do non excepteur nulla magna eiusmod consectetur in. Aliqua et aliqua officia quis et incididunt voluptate non anim reprehenderit adipisicing dolore ut consequat deserunt mollit dolore. Aliquip nulla enim veniam no
