.row
  .col-lg-6.col-sm-12
    .card.mb-4
      .card-header.text-center
        %h4
          %strong Original Campaign
      =image_tag @campaign.image.url(:large), :class => "card-img-top img-fluid"
      .card-body
        %h3= @campaign.name
        %hr
        %p.card-text= @campaign.description
        %hr
        %p= octicon('calendar') + "  Start date: " + @campaign.start_date

  .col-lg-6.col-sm-12
    .card.mb-4
      .card-header.text-center
        %h4
          %strong Unapproved Changes
      =image_tag @campaign_change.image.url(:large), :class => "card-img-top img-fluid"
      .card-body
        -if @belongs_to_current_user
          .float-right
            =link_to octicon('pencil') + "  Edit", edit_campaign_change_path(@campaign_change), :class => "btn btn-light btn-sm mt-2"
            =link_to octicon('trashcan') + "  Delete", campaign_change_path(@campaign_change), :method => :delete, :class => "btn btn-light btn-sm mt-2"
        %h3= @campaign_change.name
        -if @campaign_change.action == "DELETE"
          .badge.badge-pill.badge-warning
            %h5 Pending Deletion
        %hr
        %p.card-text= @campaign_change.description
        %hr
        %p= octicon('calendar') + "  Start date: " + @campaign_change.start_date

.row
  .col-md-2= link_to('Approve campaign', approve_campaign_change_path(@campaign))
  .col-md-2= link_to('Back to campaign list', campaigns_path)