-if !@campaign
  =render 'new_campaign_change', campaign: @campaign_change
-else #Render comparison
  .row
    .col-lg-6.col-sm-12
      .card.mb-4
        .card-header.text-center
          %h4
            %strong Original Campaign
        =image_tag @campaign.image.url(:large), :class => "card-img-top img-fluid"
        .card-body
          %h3= @campaign.name
          %hr
          %p.card-text= @campaign.description
          %hr
          %p= octicon('calendar') + "  Start date: " + @campaign.start_date
          %hr
          %p= octicon('credit-card') + "  Goal: " + number_to_currency(@campaign.goal, precision: 0)

    .col-lg-6.col-sm-12
      -if @campaign_change.action == "DELETE"
        .card.mb-4
          .card-header.text-center
            %h4
              %strong Unapproved Changes
          .card-body
            %p We have requested the admin to delete this campaign.
            - if !current_user.is_admin
              %hr
              =link_to octicon("trashcan") + "  Recall this deletion request", campaign_change_path(@campaign_change.id), :method => :delete, :class => "btn btn-light mt-2", :data => { confirm: 'Are you certain you want to recall this deletion request?' }
      -else
        .card.mb-4
          .card-header.text-center
            %h4
              %strong Unapproved Changes
          =image_tag @campaign_change.image.url(:large), :class => "card-img-top img-fluid"
          .card-body
            -if @belongs_to_current_user && !current_user.is_admin
              .float-right
                =link_to octicon('pencil') + "  Edit", edit_campaign_change_path(@campaign_change), :class => "btn btn-light btn-sm mt-2"
                =link_to octicon('trashcan') + "  Delete", campaign_change_path(@campaign_change), :method => :delete, :class => "btn btn-light btn-sm mt-2"
            %h3= @campaign_change.name
            %hr
            %p.card-text= @campaign_change.description
            %hr
            %p= octicon('calendar') + "  Start date: " + @campaign_change.start_date
            %hr
            %p= octicon('credit-card') + "  Goal: " + number_to_currency(@campaign_change.goal, precision: 0)

.row
  =link_to 'Back to all campaigns', organization_path(@campaign_change.organization.id), :class => "btn btn-light mb-4"
  %br
