.row
    .col-md-offset-1
    .col-md-4
        %h3.header.title= "Unapproved Campaign: #{@campaign.name}"
    .col-md-offset-1
    .col-md-offset-4
        %td.image= image_tag @campaign.image.url(:large)

.row
    .col-md-offset-2
    .col-md-8.description= "#{@campaign.description}"
    .col-md-8.goal= "Funding Goal: #{number_to_currency(@campaign.goal, precision: 0)}"
    .col-md-8.start_date= "Start date: #{@campaign.start_date}"
%br
%br

.row
    .col-md-offset-1
    .col-md-2= link_to('Edit unapproved campaign details', edit_campaign_change_path(@campaign))
    .col-md-2= link_to('Delete unapproved campaign', campaign_change_path(@campaign), :method => :delete)
    .col-md-2= link_to('Approve campaign', approve_campaign_change_path(@campaign))
    .col-md-2= link_to('Back to campaign list', campaigns_path)
