.row
  .col-sm-12.text-center.bootstrap-welcome

-if @empty == 0
  -t = 0
  %thead{:class => "heading"} Donation Cart
  %table.summary.table.table-striped
    %tr
      %th.header Name
      %th.header Amount
      %th.header 
      -@names_val.each do |name, amt|
        %tr
          %td.val= link_to "#{name}", 
          %td.val #{number_to_currency(amt.to_i)}
          %td.val= link_to octicon('trashcan'), controller: "home", action: "remove_donation"
        -t = t + amt.to_i
  %br
  %strong.header.total Total: #{number_to_currency(t)}
  %br
  =link_to "Proceed to Checkout", controller: "home", action: "checkout", :class => "btn btn-light mb-4"
-else
  %h3 Your donations will be shown here.

%p
=link_to 'Back to Main Page', root_path, :class => "btn btn-light mb-4"


    