%a{name: "top"}
%h2.mb-4 Frequently Asked Questions

%p Madison County Gives is an online funding tool for our community. The site, which is created and supported by Colgate’s Konosioni Senior Honor Society with assistance from the Upstate Institute at Colgate University, provides a way for students and community members to support projects that are providing services to residents of Madison County, New York. This tool allows not-for-profit organizations in our community to work with Konosioni to attract support from citizen philanthropists who understand the value of contributing $5, $10, $20—any amount— to a worthy cause.

%ul
  %li= link_to "How does it work?", "#q1"
  %li= link_to "Who can apply to start a campaign on Madison County Gives?", "#q2"
  %li= link_to "Does Konosioni fund campaigns too?", "#q3"
  %li= link_to "What happens when a campaign reaches its goal?", "#q4"
  %li= link_to "What happens if a campaign doesn’t reach its goal by then?", "#q5"
  %li= link_to "I still have questions. Whom should I ask?", "#q6"


%hr
%a{name: "q1"}
%strong How does it work?
%p The website is free for all to use. There’s no fee associated with donating money through the site. All donations made through the site will go to the Konosioni Senior Honor Society at Colgate University. At the end of the campaign, Konosioni will grant 100% of the funds raised through the site directly to the not for profit organization that received the donation.
=link_to "Back to Top", "#top", class: "btn btn-light"

%hr
%a{name: "q2"}
%strong Who can apply to start a campaign on Madison County Gives?
%p Local not-for-profit organizations (those with a 501(c)3 designation) that provide some kind of benefit to any residents of the region may apply to begin a campaign on Madison County Gives. Members of Konosioni will select not-for-profit organizations to include on the site, and will work with those organizations to create a campaign.
=link_to "Back to Top", "#top", class: "btn btn-light"

%hr
%a{name: "q3"}
%strong Does Konosioni fund campaigns too?
%p Yes. The Konosioni Senior Honor Society has invested over $30,000 in local organizations this year alone. Each year, the students in Konosioni will decide how to allocate their funds, and make contributions to campaigns through the site based on those allocation decisions.
=link_to "Back to Top", "#top", class: "btn btn-light"

%hr
%a{name: "q4"}
%strong What happens when a campaign reaches its goal?
%p If a campaign reaches, or surpasses, its goal by this time, it will receive all funds raised through the site, including any allocated by Konosioni. The campaign will be removed from the main page of the website, but information about the campaign will still be accessible on the site through the page that lists all campaigns started by an organization.
=link_to "Back to Top", "#top", class: "btn btn-light"

%hr
%a{name: "q5"}
%strong What happens if a campaign doesn’t reach its goal by then?
%p We won’t mandate that an organization reaches its goal in order to receive funding. The organization will still receive 100% of the funds raised through the site, including any allocated by Konosioni.
=link_to "Back to Top", "#top", class: "btn btn-light"

%hr
%a{name: "q6"}
%strong I still have questions. Whom should I ask?
%p Contact Julie Dudrick at the Upstate Institute at 315-228-5473 or jdudrick@colgate.edu who can answer questions about Madison County Gives and on behalf of Konosioni.
=link_to "Back to Top", "#top", class: "btn btn-light"
