#main.container
    -if user_signed_in?
        %p="Logged in user id: #{current_user.id}"
    .row
        .col-md-offset-1
        .col-md-4
            %h3.header.title= "#{@campaign.name}"
        .col-md-offset-1
        .col-md-offset-4
            %td.image= image_tag @campaign.image.url(:large)

    .row
        .col-md-offset-2
        .col-md-8.description= "#{@campaign.description}"
    %br
    %br

    .row
        -if user_signed_in? && current_user.id == @campaign.organization_id
            .col-md-offset-1
            .col-md-2= link_to('Edit campaign details',  new_campaign_change_path(:campaign_id => @campaign.id))
            .col-md-2= "Delete campaign"
        .col-md-2= link_to('Back to campaign list', campaigns_path)
