
.row
    .col-md-offset-1
    .col-md-4
        %h3.header.title= "#{@campaign.name}"
    .col-md-offset-1
    .col-md-offset-4
        %td.image= image_tag @campaign.image.url(:large)
.row
    .col-md-offset-2
    .col-md-8.description= "#{@campaign.description}"
    .col-md-8.goal= "Funding Goal: #{number_to_currency(@campaign.goal, precision: 0)}"
    .col-md-8.start_date= "Start date: #{@campaign.start_date}"
%br
%br

.row
    =form_tag "/processing" do
        =number_field_tag :amount_to_cart, "Amount to donate?"
        =hidden_field_tag :id_to_cart, @campaign.id
        =submit_tag "add to cart"
.row
    -if user_signed_in? && current_user.organization.id == @campaign.organization_id
        .col-md-offset-1
        .col-md-2= link_to('Edit campaign details',  new_campaign_change_path(:campaign_id => @campaign.id, :campaign_action => "UPDATE"))
        .col-md-2= link_to('Delete campaign',  new_campaign_change_path(:campaign_id => @campaign.id, :campaign_action => "DELETE"))
    .col-md-2= link_to('Back to campaign list', campaigns_path)
