=link_to "Back to all organizations", organizations_path, :class => "btn btn-light float-right"

%h1= @organization.name

- if @belongs_to_current_user && (!@organization.is_approved?)
  .alert.alert-warning
    %button.close{ :data => { :dismiss => "alert" } }= octicon('x')
    Note: Your organization is waiting to be approved by the site administrator. Please check back later or contact Madison County Gives. Once it is approved, you will be able to start creating campaigns.

.card.mb-4.organization
  =image_tag @organization.image.url(:large), :class => "card-img-top img-fluid"
  .card-body
    -if @belongs_to_current_user
      =link_to octicon("pencil") + "  Edit", edit_organization_path(current_user.organization), :class => "btn btn-light float-right"
    %h4.card-title Description
    %p.card-text= @organization.description
  - if @belongs_to_current_user
    .card-footer
      =content_tag :h4, :class => "card-title mb-4" do
        Additional Information
        =content_tag :span, "This is invisible to the public", :class => "text-muted ml-2 small"
      .container
        .row
          .col-lg-2
            %p.card-text
              %strong Primary Contact
          .col-lg-10
            %p= @organization.primary_contact
        .row
          .col-lg-2
            %p
              %strong Address
          .col-lg-10
            %p= @organization.address
        .row
          .col-lg-2
            %p
              %strong Email
          .col-lg-10
            %p= @organization.email
        %hr
        .row
          .col-lg-12
            - @short_responses.each do |response|
              %p
                %strong= response.short_question.question
              %p= response.response
.row
  %h2.mr-auto Campaigns
  -if @belongs_to_current_user && @organization.is_approved?
    =link_to octicon("plus", :class => "white-icon") + "  Create a campaign", new_campaign_change_path(:campaign_action => "CREATE"), :class => "btn btn-success btn-lg"

.row.my-2
  -@organization.campaigns.each do |camp|
    .col-lg-4.col-md-6.col-sm-12.card-set
      .card.mb-4.campaign
        =image_tag camp.image.url(:thumb), :class => "img-fluid card-img"
        .card-body
          =content_tag :h4 do
            =link_to camp.name, campaign_path(camp), :class => "h4"
            -if camp.is_active
              =content_tag :span, "Active", :class => "badge badge-success align-top ml-2"
            -else
              =content_tag :span, "Inactive", :class => "badge badge-secondary align-top ml-2"
          %p.card-text.description= truncate(camp.description, length: 100)
          %hr
          %p.start_date= content_tag(:strong, "Start Date: ") + camp.start_date
          %p.goal= content_tag(:strong, "Goal: ") + number_to_currency(camp.goal, precision: 0)
          -# %hr
          -# =link_to "View details", campaign_path(camp), :class => "btn btn-primary"
        - if @belongs_to_current_user
          .card-footer
            =link_to octicon('pencil', :class => "white-icon") + "  Edit", new_campaign_change_path(:campaign_id => camp.id, :campaign_action => "UPDATE"), :class => "btn btn-dark btn-sm mt-2"
            =link_to octicon('trashcan', :class => "white-icon") + "  Delete", new_campaign_change_path(:campaign_id => camp.id, :campaign_action => "DELETE"), :class => "btn btn-dark btn-sm mt-2"
            - if !camp.campaign_change.nil?
              %td= link_to octicon('diff') + "#{camp.campaign_change.action == "UPDATE" ? "  Pending Change" : "  Pending Deletion"}", (camp.campaign_change.action == "UPDATE" ? campaign_change_path(camp.campaign_change) : "#"), :class => "btn btn-warning btn-sm mt-2"
%br

- if @belongs_to_current_user && @campaign_changes.length > 0
  .row
    %h2.text-muted Campaigns Pending Approval
  .row.my-2
    -@campaign_changes.each do |change|
      .col-lg-4.col-md-6.col-sm-12.card-set
        .card.mb-4.campaign-change
          =image_tag change.image.url(:thumb), :class => "img-fluid card-img"
          .card-body
            =content_tag :h4 do
              =link_to change.name, campaign_change_path(change), :class => "h4"
              =content_tag :span, "Pending", :class => "badge badge-warning align-top ml-2"
            %p.card-text.description= truncate(change.description, length: 100)
            %hr
            %p.start_date= content_tag(:strong, "Start Date: ") + change.start_date
            %p.goal= content_tag(:strong, "Goal: ") + number_to_currency(change.goal, precision: 0)
            -# %hr
            -# =link_to "View details", campaign_change_path(change), :class => "btn btn-primary"
          .card-footer
            =link_to octicon('pencil', :class => "white-icon") + "  Edit", edit_campaign_change_path(change), :class => "btn btn-dark btn-sm mt-2"
            =link_to octicon('trashcan', :class => "white-icon") + "  Delete", campaign_change_path(change), :method => :delete, :class => "btn btn-dark btn-sm mt-2", :data => { confirm: 'Are you certain you want to delete this?' }
