.row
    .col-md-offset-1
    .col-md-4
        %h3.header.title= "#{@organization.name}"
    .col-md-offset-1
    .col-md-offset-4
        %td.image= image_tag @organization.image.url(:large)

.row
    .col-md-offset-2
    .col-md-8.description= "#{@organization.description}"
%br
%br

- if user_signed_in? && @organization.id == current_user.organization.id
    .row
        .col-md-offset-1
        .col-md-2= link_to('Edit organization details', edit_organization_path(@organization))
        .col-md-2= link_to('Back to organization list', organizations_path)

.row
    %h4 Campaigns
.row
    %table.table
        %thead
            %tr
                %th Name
                %th Start Date
                %th Goal
                %th Active?
                - if @belongs_to_current_user
                    %th
                    %th
                    %th
        %tbody
            -@organization.campaigns.each do |c|
                %tr.campaign
                    %td= link_to c.name, campaign_path(c)
                    %td.start_date= c.start_date
                    %td.goal= "#{number_to_currency(c.goal, precision: 0)}"
                    %td= c.is_active
                    - if @belongs_to_current_user
                        %td= link_to "Edit", new_campaign_change_path(:campaign_id => c.id, :campaign_action => "UPDATE")
                        %td= link_to "Delete", organization_path(@organization), :method => :delete
                        - if !c.campaign_change.nil?
                            %td= link_to "Pending Change", campaign_change_path(c.campaign_change)

.row
    - if @belongs_to_current_user
        %h4 New campaign proposals pending approval
        .row
        %table.table
            %thead
                %tr
                    %th Name
                    %th Start Date
                    %th Goal
                    %th
                    %th
            %tbody
                -@campaign_changes.each do |change|
                    %tr.campaign-change
                        %td= link_to change.name, campaign_change_path(change)
                        %td.start_date= change.start_date
                        %td.goal= "#{number_to_currency(change.goal, precision: 0)}"
                        %td= link_to "Edit", edit_campaign_change_path(change)
                        %td= link_to "Delete", campaign_change_path(change), :method => :delete
