!!! 5
%html{ lang: 'en' }
  %head
    %meta{ charset: 'utf-8' }
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1" }
    %title Madison County Gives
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'

  %body
    %nav.navbar.navbar-expand-md.navbar-dark.sticky-top.bg-dark
      =link_to "Madison County Gives", root_url, :class => "navbar-brand"
      %button{ :class => "navbar-toggler", :type => "button", "data-toggle" => "collapse", "data-target" => "#navbarNavDropdown", "aria-controls" => "navbarNavDropdown", "aria-expanded" => "false", "aria-label" => "Toggle navigation" }
        %span.navbar-toggler-icon
      .collapse.navbar-collapse#navbarNavDropdown
        %ul.navbar-nav.mr-auto
          %li.nav-item.active
            =link_to "Home", root_url, :class => "nav-link"
          %li.nav-item.dropdown
            =link_to "About", "#", :class => "nav-link dropdown-toggle", :id => "navbarDropdownMenuLink", "data-toggle" => "dropdown", "aria-haspopup" => "true", "aria-expanded" => "false"
            %div{ class: "dropdown-menu", "aria-labelledby": "navbarDropdownMenuLink" }
              =link_to "About Us", "#", :class => "dropdown-item"
              =link_to "FAQs", "#", :class => "dropdown-item"
              =link_to "Contact Us", "#", :class => "dropdown-item"
              =link_to "Our Organizations", organizations_path, :class => "dropdown-item"
        %ul.navbar-nav
          - if user_signed_in?
            - if current_user.organization.nil?
              %li.nav-item.dropdown.active
                =link_to octicon("person", :class => "white-icon") + "  Unknown Organization", "#", :class => "nav-link dropdown-toggle", :id => "navbarDropdownUserLink", "data-toggle" => "dropdown", "aria-haspopup" => "true", "aria-expanded" => "false"
                %div{ class: "dropdown-menu dropdown-menu-right", "aria-labelledby": "navbarDropdownUserLink" }
                  =link_to octicon("organization") + "  My Organization", new_organization_path, :class => "dropdown-item"
                  .dropdown-divider
                  =link_to octicon("sign-out") + '  Logout', destroy_user_session_path, :method => :delete, :class => "dropdown-item"
            - else
              - if current_user.organization.is_approved?
                %li.nav-item.active.mr-3
                  =link_to "Create a campaign", new_campaign_change_path(:campaign_action => "CREATE"), :class => "btn btn-outline-success"
              %li.nav-item.dropdown.active
                =link_to octicon("person", :class => "white-icon") + "  #{current_user.organization.name}", "#", :class => "nav-link dropdown-toggle", :id => "navbarDropdownUserLink", "data-toggle" => "dropdown", "aria-haspopup" => "true", "aria-expanded" => "false"
                %div{ class: "dropdown-menu dropdown-menu-right", "aria-labelledby": "navbarDropdownUserLink" }
                  =link_to octicon("organization") + "  My Organization", organization_path(current_user.organization), :class => "dropdown-item"
                  =link_to octicon("pencil") + "  Edit My Profile", edit_organization_path(current_user.organization), :class => "dropdown-item"
                  .dropdown-divider
                  =link_to octicon("sign-out") + '  Logout', destroy_user_session_path, :method => :delete, :class => "dropdown-item"
          - else
            %li.nav-item.active
              =link_to octicon("sign-in", :class => "white-icon") + '  Organization Login', new_user_session_path, :class => "nav-link"
          %li.nav-item.active
            =link_to embedded_svg("cart.svg", :class => "white-icon", :width => 16, :height => 16) + '  Cart', "/summary", :class => "nav-link"

    %main.container
      %br
      =flash_messages
      =yield

    %footer.bg-dark.py-5.my-5
      .container.text-white
        .row
          .col-md-4
            %h5 Madison County Gives
            %p Powered by Konosioni at Colgate University
            %p 13 Oak Drive<br>Hamilton, NY 13346<br>Phone: (315) 228-7000
          .col-md-4
            %p=link_to "Home", root_url, :class => "h6"
            %p=link_to "About Us", "#", :class => "h6"
            %p=link_to "FAQs", "#", :class => "h6"
            %p=link_to "Contact Us", "#", :class => "h6"
            %p=link_to "Our Organizations", organizations_path, :class => "h6"
          .col-md-4
            %h5 Get the Stats
            %h2.mt-2= num_campaigns
            %span Campaigns
            %h2.mt-3= amount_funded
            %span Funded
            %p.mt-4 Madison County Gives<br>Copyright © Madison County Gives 2017
